.nav-elements {
  position: absolute;
  right: 0;
  top: 60px;
  background-color: #fef7e5;
  width: 0;
  height: calc(100vh - 60px);
  transition: all 0.3s ease-in;
  overflow: hidden;
}

.nav-menu {
  font-size: 1rem;
  color: black;
  font-weight: 700;
  font-size: 20px;
  padding-top: .7rem;
  /* font-family: cursive; */
  text-align: end;
  display: block;
  /* background-color: #7f7d7d; */
  justify-content: end;
  flex: auto;
}

.menu-text{
  padding: 1rem;
  /* border: 2px solid gold; */
}

.logo {
  font-size: 2rem;
  color: black;
  font-family: cursive;
  text-align: start;
  width: 50%;
  /* background-color: #7f7d7d; */

}

.logo-mobile {
  font-size: 1.5rem;
  color: black;
  font-family: cursive;
  text-align: start;
  width: 50%;
  /* background-color: #7f7d7d; */

}

.menu-text:hover{
  padding: 1rem;
  border-bottom: 2px solid gold;
  font-size: 25px;
  background-color: #f1f1f1;
  border-width: 5px;
}

.menu-text2{
  padding: 1rem
}

.menu-text2:hover{
  padding: 1rem;
  border-bottom: 2px solid gold;
  font-size: 20px;
  background-color: #f1f1f1;
  border-width: 5px;
}

.menu-text-drop{
  padding: auto;
}


.link:hover {
  color: black;
}

.dropbtn2 {
  color: black;
  /* border: none; */
}

.dropdown2 {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content2 {
  display: none;
  right: 1%;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 12rem;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content2 a {
  text-align: left;
  text-decoration: none;
  display: block;
}

.dropdown2:hover .dropdown-content2 {display: block;}

.dropdown2:hover .dropbtn2 {
  font-size: 18px;
  background-color: #f1f1f1;
  border-width: 5px;
}


.dropbtn3 {
  color: black;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown3 {
  position: relative;
  display: block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content3 {
  display: none;
  position: relative;
  background-color: #f1f1f1;
  min-width: 12rem;
  font-size: 12px;
  padding-left: 20%;
  line-height: 2rem;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content3 a {
  color: black;
  text-align: left;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content3 a:hover {color: gold;}

/* Show the dropdown menu on hover */
.dropdown3:hover .dropdown-content3 {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown3:hover .dropbtn3 {
  font-size: 25px;
  background-color: #f1f1f1;
  border-width: 5px;
}

.nav-container2 {
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  float: auto;
}

.blocks2{
  position: relative;
  padding-bottom: 2rem;
  height: auto;
}

.register-input2 {
  width:20rem;
  /* border-width: 0.2rem 0.2rem 0.2rem .2rem; */
  border:0.2rem solid grey;
  border-radius: 1rem;
  /* border-color: grey; */
  height: 3rem ;
  padding-left: 2rem;
  margin: 2%;
  margin-bottom: 0;
}

.submit-form2 {
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding: 2rem;
  display: block;
  /* flex-wrap: wrap; */
  align-items: center;
  justify-content: space-evenly;
  background-color: white;
  box-shadow: 0px 0px 40px 10px grey;
  border-radius: 2rem;
}

.form-label2 {
  display: block;
  width: 90%;
  /* margin: 5%; */
}

.blocks3{
  position: relative;
  padding-bottom: 2rem;
  height: 20rem;
}

.course2 {
  border-radius: 1rem;
  width: 90%;
  height: auto;
  text-align: center;
  display: inline-grid;
  border-bottom: 5px solid gold;
  color: gold;
}

.course2 img {
  width: 100%;
  border-radius: 1rem;
}

.des2 {
  background-color: #5C5889;
  width: 70%;
  border-radius: 2rem;
  margin: auto;
  box-shadow: 0 0 8px 8px #5C5889 ;
  background-size: cover;
  overflow: hidden;
}

.student-image2 {
  width: 100%;
  height: 40%;
  /* margin-left: 22%; */
}

.student-image2 img{
  width: 20%;
  margin: 5%;
  margin-bottom: 8%;
  margin-left: 20%;
  display: block;
  /* top: 10%; */
  position: relative;
  border-radius: 10%;
  z-index: 9999;
  /* box-shadow: -0.5rem 0.5rem #b2b2bd; */
}