/* Contact.css */

.contact-container {
  margin-bottom: 2%;
}

.contact-background {
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
}

.contact-details {
  padding-top: 2rem;
  justify-content: space-around;
}
.contact-list {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.contact-item {
  display: flex;
  width: 30%;
}

.contact-icon {
  width: 30%;
  height: 4rem;
  background-size: 100% 100%;
  background-color: #5c5889;
}

.contact-info {
  width: 80%;
}

.contact-heading {
  margin: 0;
  font-weight: 700;
}


.social-media {
  width: 20%;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-around;
  display: block;
}

.follow-heading {
  margin: 0;
  font-weight: 700;
  text-align: center;
  font-size: 1.2rem;
}

.social-icons {
  display: flex;
  justify-content: space-around;
  margin-left: 10%;
}

.contact-form {
  margin: 2.5%;
  margin-left: 0%;
  background-color: white;
  display: flex;
}

.map-container {
  width: 100%;
  margin: 2%;
  height: 30rem;
}

.form-container {
  width: 50%;
  z-index: 1;
  margin: auto;
}


@media (max-width: 768px) {
  .contact-details {
    flex-direction: column;
    align-items: center;
  }

  .social-media {
    width: 100%;
    margin: 1rem;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-around;
    display: block;
  }

  .contact-item {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin: 1rem;
  }

  .social-icons {
    margin-left: 0;
    justify-content: space-evenly;
  }

  .form-container {
    width: 100%;
  }

  .contact-list {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  .contact-form {
    margin: 2.5%;
    margin-left: 0%;
    background-color: white;
    display: block;
  }

  .map-container {
    width: 100%;
    margin: 2%;
    height: 20rem;
  }
}
