.popup-container {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
}

.popup-container h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.popup-container p {
  font-size: 18px;
  margin-bottom: 20px;
}

.popup-container button {
  background-color: #f44336;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
}
