@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');

* {
  box-sizing: border-box;
}

body {
  /* background: #5C5889 !important; */
  min-height: 100vh;
  display: flex;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
}

h1,h2,h3,h4,h5,h6,label,span {
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
}

body, html, .App, #root, .auth-wrapper {
  width: 100%;
  height: 100%;
}

.auth-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}

.auth-inner {
  width: 450px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all .3s;
}

.auth-wrapper .form-control:focus {
  border-color: #167bff;
  box-shadow: none;
}

.auth-wrapper h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}

.custom-control-label {
  font-weight: 400;
}

.forgot-password,
.forgot-password a {
  text-align: right;
  font-size: 13px;
  padding-top: 10px;
  color: #7f7d7d;
  margin: 0;
}

.forgot-password a {
  color: #167bff;
}

.app {
  width: 100%;
}

.home-image {
  width: 100%;
  height: 100%;
}

.navbar {
  position: relative;
  top: 0;
  background-color: #5C5889;
  width: 100%;
  /* height: 6rem; */
  box-shadow: 0 1rem 4px 0 rgb(0 0 0 / 10%);
  z-index: 9999;
}

.logo-large {
  font-size: 3rem;
  color: black;
  font-family: cursive;
  text-align: start;
  /* background-color: #7f7d7d; */

}

.nav-container {
  padding-left: 3rem;
  padding-right: 2rem;
  width: 100%;
  display: flex;
  float: auto;
}

.nav-menu1 {
  font-size: 1rem;
  color: black;
  font-weight: 700;
  font-size: 20px;
  padding-top: .7rem;
  /* font-family: cursive; */
  text-align: end;
  display: flex;
  /* background-color: #7f7d7d; */
  justify-content: end;
  flex: auto;
}

.menu-text{
  padding: 1rem
}

/* .slides{ */
  /* padding: 4rem; */
  /* padding-top: 2rem;
  height: 40rem;
} */

.blocks{
  /* padding: 4rem; */
  /* padding-top: 2rem; */
  position: relative;
  padding-bottom: 2rem;
  height: 40rem;
}

.slide-image {
  /* border-radius: 2rem; */
  width: -webkit-fill-available;
  height: 100%;
}

.slide-image div div .rsis-container .rsis-image {
    background-size: 100% 100% !important;
  }

.background {
    /* background: #5C5889 !important; */
    /* background: linear-gradient(to top, #ffffff 0%, #5C5889 100%); */
    background: linear-gradient(to top, #ffffff 0%, #f3f3f4 100%);
    height: 100%;
    background-attachment: fixed;
    /* margin-top: 90px; */
}

.explore-courses {
  font-size: xx-large;
  text-align: center;
  padding: 7% 0% 0% 0%;
  width: 95%;
  margin-left: 2.5%;
}

.explore-courses text {
  margin-bottom: 0;
  font-size: 25px;
  font-weight: 700;
}

.common-div {
  padding: 7% 0% 0% 0%;
  width: 95%;
  margin-left: 2.5%;
}

.footer {
  background-color: #f1f1f1;
  position: relative;
  bottom: 0;
  width: 100%;
}

.testimonials {
  font-size: xx-large;
  text-align: center;
  margin: 2.5%;
  background-color: #ffffff;
}

.testimonials text {
  margin-bottom: 0;
}

.testimonial {
  width: 100%;
  /* display: flex; */
  padding-top: 1rem;
}

.student-image {
  width: 100%;
  height: 40%;
  /* margin-left: 22%; */
}

.student-image img{
  width: 40%;
  margin: 5%;
  margin-bottom: 8%;
  margin-left: 20%;
  display: block;
  /* top: 10%; */
  position: relative;
  border-radius: 10%;
  z-index: 9999;
  /* box-shadow: -0.5rem 0.5rem #b2b2bd; */
}

/* .student-review {
  width: 50%;
  padding-left: 6rem;
  padding-top: 3rem;
  margin-right: 10%; */
  /* background: rgb(238, 238, 238); */
  /* opacity: 0.8;
  box-shadow: 0.5rem 0.5rem #b2b2bd;
  overflow: hidden;
  text-align: left;
  display: inline-grid;
  margin-bottom: 1rem; */
/* } */

.review {
  overflow-wrap: break-word;
  font-size:small;
  color: black;
  font-family: 'Poppins', sans-serif;
  /* font-style: italic; */
}


.img-wrap {
  content: '';
  background-image: linear-gradient(to top, rgba(239,239,239,255), rgba(239,239,239,0));
  position: absolute;
  height: 100px;
  right: 0;
  bottom: 0;
  left: 0;
}

.des {
  background-color: #5C5889;
  width: 50%;
  border-radius: 2rem;
  box-shadow: 0 0 8px 8px #5C5889 ;
  background-size: cover;
  overflow: hidden;
}

.detail-pop {
  width: "90%";
  margin-left: "5%";
  height: "32rem";
  background: "linear-gradient(to right, #ffffff 0%, #5C5889 100%)";
  border-radius: "4rem";
  margin-bottom: "2rem";
}

.hrs-course {
  width: 90%;
  margin-left: 5%;
}

li::before {
  content: "\f621";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 11px;
  position: absolute;
  top: 10px;
  left: 0;
}

/* .blog-heading {
  padding-top:"2%";
  color: black;
  font-size: 25px;
  font-weight: 500;
  width: 90%;
} */

.blog-heading {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 10px;
}

.sub-heading {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 8px;
}


.blog-heading:hover {
  color: #5c5889;
}

.gery-image {
  background-size: 100% 100%;
  filter: grayscale(100%);
}

.gery-image:hover {
  background-size: 100% 100%;
  filter: grayscale(0%);
}

.right-image {
  width: 100%;
  height: 90%;
  background-size: 100% 100%;
  box-shadow: -20px 20px 0 0 #5c5889;
}

.left-image {
  width: 100%;
  height: 90%;
  background-size: 100% 100%;
  box-shadow: 20px 20px 0 0 silver;
}

.left-image:hover {
  margin-left: 1rem;
  margin-top: 1rem;
  box-shadow: 15px 15px 0 0 silver;
  transition: .7s;
}

.right-image:hover {
  margin-right: 1rem;
  margin-top: 1rem;
  box-shadow: -15px 15px 0 0 #5c5889;
  transition: .7s;
}

.accordion__button[aria-expanded='true']::before {
  transform: rotate(45deg);
  color: #5c5889;
}

.accordion__button[aria-expanded='true'] {
  color: #5c5889;
}



.carousel-root {
  width: 64% !important;
  margin: auto !important;
  margin-top: 3% !important;
}

.carousel .slide {
  background: #fff !important;
  color: black;
  height: 100%;
}

.carousel .slide img {
  width: 30% !important;
  height: 12rem;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}

.student-review {
  background: #fafafa;
  margin-top: -6%;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 6%;
  padding-bottom: 8%;
  padding-left: 5%;
  padding-right: 5%;
  border: 1px solid #ddd;
  /* height: 18rem; */
}

.carousel .control-dots {
  padding-left: 5px !important;
  outline: 0;
  bottom: 5% !important;
  display: none;
}

.student-review h3 {
  color: #222;
  font-weight: 100;
  letter-spacing: 0.2px;
  margin-bottom: 4px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 17px;
}

.student-review h4 {
  text-transform: uppercase;
  margin-top: 0;
  padding-top: 0;
  font-weight: 500;
  color: #787878;
  font-size: 14px;
}

.student-review p {
  font-weight: 100 !important;
  line-height: 29px !important;
  color: #222;
  font-size: 15px;
  font-family: sans-serif;
  max-height: 67px;
}

.student-review p:before {
  content: "“";
  color: #aaa;
  font-size: 26px;
  font-family: monospace;
  font-weight: 100;
}

.student-review p:after {
  content: "”";
  color: #aaa;
  font-size: 26px;
  font-family: monospace;
  font-weight: 100;
  line-height: 0;
}

.carousel .control-dots .dot {
  box-shadow: none !important;
  background: #454545 !important;
  outline: 0;
  /* display: none; */
}

.carousel.carousel-slider .control-arrow {
  background: #000 !important;
  height: 50px !important;
  position: absolute;
  top: 50% !important;
}

li.slide.selected::before {
  display: none;
}

li.dot::before {
  display: none;
}

.link {
  text-decoration: none;
  color: black;
}

.our-teachers {
  width: 95%;
  margin: 2.5%;
  background-color: white;
  padding: 2%;
}

.heading {
  width: 100%;
  margin-bottom: 2rem;
  padding-top: 2rem;
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  text-align: center;
}

.custom-dot-list-style {
  display: none;
}

li::before {
  display: none;
}

.contacts {
  display: block;
  width: 100%;
  background-color:#f1f1f1;
  padding-bottom:2rem;
}

.form {
  padding-left: 10%;
  display: block;
  z-index: 9999;
}

.label {
  display: block;
  /* margin: 5%; */
}

.input {
  width:90%;
  border-width: 0rem;
  border-bottom-width: .2rem;
  border-radius: 1rem;
  height: 4rem;
  padding-left: 1rem;
  margin: 2%;
}

.textarea {
  width:90%;
  border-radius: 1rem;
  border-width: 0rem;
  border-bottom-width: .3rem;
  height: 15rem;
  padding: 1rem;
  margin: 2%;
}

.blog-image:hover {
  transition: .3s;
  background-color: rgba(0, 0, 0, 0.3);
}

.index-button {
  display: inline-block;
  line-height: 49px;
  text-align: center;
  color: #000;
  border-radius: 50%;
  background-color: #f0e7d6;
  vertical-align: top;
  font-size: x-large;
  margin-right: 5px;
  padding-top: 0.8%;
}

.triangle-left{
  width: 0;
  height: 0;
  margin-top:  1rem;
  border-top:
    8px solid transparent;
  border-bottom:
    8px solid transparent; 
}

.triangle-right{
  width: 0;
  height: 0;
  margin-top:  1rem;
  border-top:
    8px solid transparent;
  border-bottom:
    8px solid transparent; 
}

.triangle-right{
  border-left:
    10px solid rgb(255, 255, 255);
}
.triangle-left{
  border-right:
    10px solid rgb(255, 255, 255);
}
.categories-pointer {
  content: "\f105";
  font-family: "Font Awesome 5 Free";
  left: 0;
  top: 8px;
  color: #ecb537;
  font-size: 15px;
  transition: .2s;
  font-weight: 900;
}

.arrow-right,
.arrow-left,
.long-arrow-right,
.long-arrow-left{
  display: block;
  /* margin: 30px auto; */
  margin-top: .7rem;
  width: 10px;
  height: 10px;
  border-top: 4px solid #ecb537;
  border-left: 4px solid #ecb537;
}
.arrow-right,
.long-arrow-right{
 transform: rotate(135deg);
}

.fade-effect1{
  display:block;
  border:none;
  color:white;
  margin-top: 1rem;
  height:1px;
  background:black;
  background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(#000), to(#fff));
}


.pointer:hover{
  cursor: pointer;
}

.transparent-div {
  background-color: #ffffff00;
}

.dropbtn {
  color: black;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 12rem;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-align: left;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {color: #5c5889;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  font-size: 25px;
  background-color: #f1f1f1;
  border-width: 5px;
}

.online-review-block {
  width: 100%;
}


table {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

th{
  text-align: center;
  width: 10%;
  font-size: 24px;
  border:2px solid grey;
  text-align: center;
  line-height: 3rem;
  background-color: #5c5889
}

td{
  text-align: center;
  width: 10%;
  font-size: 24px;
  border:2px solid grey;
  text-align: center;
  line-height: 3rem;
  font-weight: 600;
}

/* tr:nth-child(even){ */
  /* background-color: gainsboro; */
/* } */

tr:nth-child(odd){
  background-color: lightcyan;
}

.loader-div{
  position: fixed;
  height: 100rem;
  top: 50%;
  left: 50%;
  transform: -webkit-translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transform: -moz-translate(-50%, -50%);
  transform: -ms-translate(-50%, -50%);
  color:darkred;
}

/* Popup style */
.popup-box {
  position: fixed;
  background: #00000050;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 99999;
}
 
.box {
  position: relative;
  width: 70%;
  margin: 0 auto;
  height: auto;
  max-height: 70vh;
  margin-top: calc(100vh - 70vh - 20px);
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  border-radius: 5rem;
  box-shadow: 0.2rem 0.2rem 1rem 1rem rgb(83, 82, 82);
  border: 1px solid #999;
  overflow: auto;
}
 
.close-icon {
  content: 'x';
  cursor: pointer;
  position: fixed;
  right: calc(15% - 30px);
  top: calc(100vh - 85vh - 33px);
  background: #ededed;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  border: 1px solid #999;
  font-size: 20px;
}
